body {
    background: url(../Media/backround.jpg) no-repeat center center fixed;
    background-size:cover ;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
}
.game-message{
    color: gold;
    background: black;
    font-weight: 600;
    font-size: 120%
}
.card {
    display: inline-block;
    cursor: pointer;
    border-color:black;
    background: black;
    color: gold;
    margin: 5px;
    
}  
.character-name{
    text-align: center;
    font-size: 150%
};
.character-image {
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}  
.character-health{
    text-align: center;
}
img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
.select-caracter{
    text-align: center;
    color: gold;
}
.characters-section{
    align-items: flex-end
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}


