body {
    background: url(../Media/backround.jpg) no-repeat center center fixed;
    background-size:cover ;
    height: 100%;

}
.arena{
    background: url(../Media/arena.jpg)  center center ;
    height: 250px;
    color: gold;
    line-height: 30px;
    font-weight: 600;
    font-size: 120%;
    padding: 70px 0;
    border: 3px solid black;
}
.game-message{
    background: black;
    font-weight: 600;
    font-size: 120%;
    color: gold
}
.card {
    display: inline-block;
    cursor: pointer;
    border-color:black;
    background: black;
    color: gold;
    margin: 5px;
    
}  
.character-name{
    text-align: center;
    font-size: 150%
};
.character-image {
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}  
.character-health{
    text-align: center;
}
img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
.select-caracter{
    text-align: center;
    color: gold;
}
.characters-section{
    text-align: center;
    margin-top: 50ps;
}
.avalable-to-atack{
    text-align: center;
    margin-top: 50ps;
}
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.row{
    margin-top: 50px
}


